/********** Template CSS **********/
:root {
    --primary: #FEA116;
    --light: #F1F8FF;
    --dark: #0F172B;
}

.ff-secondary {
    font-family: 'Pacifico', cursive;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

  
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

    #spinner.show {
        transition: opacity .5s ease-out, visibility 0s linear 0s;
        visibility: visible;
        opacity: 1;
    }


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
}

    .btn.btn-primary,
    .btn.btn-secondary {
        color: #FFFFFF;
    }

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}


/*** Navbar ***/
nav{
    margin-top:2px;
}
nav.navbar-dark .navbar-nav .nav-link {
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    font-size: 15px;
    color: var(--light) !important;
    text-transform: uppercase;
    font-weight: 500;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 20px 0;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary) !important;
}

.navbar-dark .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-brand img {
  
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-dark {
        position: relative;
    }

    .navbar-dark .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid rgba(255, 255, 255, .1)
    }

    .navbar-dark .navbar-nav .nav-link,
    .sticky-top.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
    }

    .navbar-dark .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-dark {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        background: transparent !important;
    }

    .sticky-top.navbar-dark {
        position: fixed;
        background: var(--dark) !important;
    }
}


/*** Hero Header ***/
.hero-header {
    background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(../img/bg-hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

    .hero-header img {
        animation: imgRotate 50s linear infinite;
    }

@keyframes imgRotate {
    100% {
        transform: rotate(360deg);
    }
}
.breadcrumb-item + .breadcrumb-item::before {
    color: rgba(255, 255, 255, .5);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    padding-top:11px;
}

    .section-title::before {
        position: absolute;
        content: "";
        width: 45px;
        height: 2px;
        top: 50%;
        left: -55px;
        margin-top: -1px;
        background: var(--primary);
    }

    .section-title::after {
        position: absolute;
        content: "";
        width: 45px;
        height: 2px;
        top: 50%;
        right: -55px;
        margin-top: -1px;
        background: var(--primary);
    }

    .section-title.text-start::before,
    .section-title.text-end::after {
        display: none;
    }


/*** Service ***/
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

    .service-item:hover {
        background: var(--primary);
    }

    .service-item * {
        transition: .5s;
    }

    .service-item:hover * {
        color: var(--light) !important;
    }


/*** Food Menu ***/
.nav-pills .nav-item .active {
    border-bottom: 2px solid var(--primary);
}


/*** Youtube Video ***/
.video {
    position: relative;
    height: 100%;
    min-height: 500px;
    background: linear-gradient(rgba(15, 23, 43, .1), rgba(15, 23, 43, .1)), url(../img/video.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

    .video .btn-play {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        box-sizing: content-box;
        display: block;
        width: 32px;
        height: 44px;
        border-radius: 50%;
        border: none;
        outline: none;
        padding: 18px 20px 18px 28px;
    }

        .video .btn-play:before {
            content: "";
            position: absolute;
            z-index: 0;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            display: block;
            width: 100px;
            height: 100px;
            background: var(--primary);
            border-radius: 50%;
            animation: pulse-border 1500ms ease-out infinite;
        }

        .video .btn-play:after {
            content: "";
            position: absolute;
            z-index: 1;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            display: block;
            width: 100px;
            height: 100px;
            background: var(--primary);
            border-radius: 50%;
            transition: all 200ms;
        }

        .video .btn-play img {
            position: relative;
            z-index: 3;
            max-width: 100%;
            width: auto;
            height: auto;
        }

        .video .btn-play span {
            display: block;
            position: relative;
            z-index: 3;
            width: 0;
            height: 0;
            border-left: 32px solid var(--dark);
            border-top: 22px solid transparent;
            border-bottom: 22px solid transparent;
        }

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

#videoModal {
    z-index: 99999;
}

    #videoModal .modal-dialog {
        position: relative;
        max-width: 800px;
        margin: 60px auto 0 auto;
    }

    #videoModal .modal-body {
        position: relative;
        padding: 0px;
    }

    #videoModal .close {
        position: absolute;
        width: 30px;
        height: 30px;
        right: 0px;
        top: -30px;
        z-index: 999;
        font-size: 30px;
        font-weight: normal;
        color: #FFFFFF;
        background: #000000;
        opacity: 1;
    }


/*** Team ***/
.team-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    height: calc(100% - 38px);
    transition: .5s;
}

    .team-item img {
        transition: .5s;
    }

    .team-item:hover img {
        transform: scale(1.1);
    }

    .team-item:hover {
        height: 100%;
    }

    .team-item .btn {
        border-radius: 38px 38px 0 0;
    }


/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
    border-color: var(--primary) !important;
}

    .testimonial-carousel .owl-item.center .testimonial-item * {
        color: var(--light) !important;
    }

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    transition: .5s;
}

    .testimonial-carousel .owl-dot.active {
        background: var(--primary);
        border-color: var(--primary);
    }


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

    .footer .btn.btn-social:hover {
        color: var(--primary);
    }

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

    .footer .btn.btn-link::before {
        position: relative;
        content: "\f105";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin-right: 10px;
    }

    .footer .btn.btn-link:hover {
        letter-spacing: 1px;
        box-shadow: none
    }

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

    .footer .copyright a {
        color: var(--light);
    }

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

    .footer .footer-menu a:last-child {
        margin-right: 0;
        padding-right: 0;
        border-right: none;
    }
.product-action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 6;
    transition: opacity 0.2s ease-in-out;
  
}

.product-image {
    position: relative;

}



    .product-image:hover i {
        color: white;
        opacity: 3 !important;
        transform: scale(1.5);
    }
    .product-image:hover{
        opacity:0.7;
    }

    .product-image:hover .product-action {
        opacity: 2 !important;
    }
/*cart*/
.cart-page {
    position: relative;
    margin-top: 30px;
}

    .cart-page .cart-page-inner {
        padding: 30px;
        margin-bottom: 30px;
        background: #ffffff;
    }

    .cart-page .table {
        width: 100%;
        text-align: center;
        margin-bottom: 0;
    }

        .cart-page .table .thead-dark th {
            font-family: "Nunito",sans-serif;
            font-size: 20px;
            font-weight: 800;
            color: #353535;
            text-align: center;
            background: transparent;
            border-color: #dddddd;
            border-bottom: none;
            vertical-align: middle;
        }

        .cart-page .table td {
            font-size: 16px;
            vertical-align: middle;
        }

        .cart-page .table .img {
            display: flex;
            align-items: center;
        }

            .cart-page .table .img img {
                max-width: 60px;
                max-height: 60px;
                margin-right: 15px;
            }

            .cart-page .table .img p {
                display: inline-block;
                text-align: left;
                margin: 0;
            }

        .cart-page .table .qty {
            display: inline-block;
            width: 100px;
            font-size: 0;
        }

        .cart-page .table button {
            width: 30px;
            height: 30px;
            font-size: 14px;
            text-align: center;
            color: #ffffff;
            background: #FF6F61;
            border: none;
            border-radius: 4px;
        }

            .cart-page .table button.btn-minus {
                border-radius: 4px 0 0 4px;
            }

            .cart-page .table button.btn-plus {
                border-radius: 0 4px 4px 0;
            }

            .cart-page .table button.btn-cart {
                width: auto;
            }

        .cart-page .table input {
            width: 40px;
            height: 30px;
            font-size: 16px;
            color: #ffffff;
            text-align: center;
            background: #000000;
            border: none;
        }

    .cart-page .coupon {
      position:relative;
        width: 100%;
        margin-bottom: 15px;
        font-size: 0;
    }

        .cart-page .coupon input {
            width: calc(100% - 135px);
            height: 40px;
            padding: 0 15px;
            font-size: 16px;
            color: #999999;
            background: #ffffff;
            border: 1px solid #dddddd;
            border-radius: 4px;
            margin-right: 15px;
            transition: all .3s;
        }

            .cart-page .coupon input:focus {
                border-color: #FF6F61;
            }

        .cart-page .coupon button {
            width: 120px;
            height: 40px;
            padding: 2px 0;
            font-size: 16px;
            text-align: center;
            color: #FEA116;
            background: #ffffff;
            border: 1px solid #FEA116;
            border-radius: 4px;
        }

            .cart-page .coupon button:hover {
                color: #ffffff;
                background: #FEA116;
            }

    .cart-page .cart-summary {
        position: relative;
        width: 100%;
        justify-content: space-between;
    }

        .cart-page .cart-summary .cart-content {
            padding: 30px;
            background: #f3f6ff;
        }

            .cart-page .cart-summary .cart-content h1 {
                font-size: 25px;
                margin-bottom: 20px;
            }

            .cart-page .cart-summary .cart-content p, .cart-page .cart-summary .cart-content h2 {
                text-align:left;
            }


            .cart-page .cart-summary .cart-content p span,
            .cart-page .cart-summary .cart-content h2 span {
                float: right;
               
            }

            .cart-page .cart-summary .cart-content h2 {
                font-size: 22px;
                font-weight: 500;
                padding-top: 12px;
                border-top: 1px solid #dddddd;
                margin: 0;
            }

        .cart-page .cart-summary .cart-btn button {
            margin-top: 15px;
            width: calc(50% - 15px);
            height: 50px;
            padding: 2px 10px;
            text-align: center;
            color: #ffffff;
            background: #FEA116;
            border: none;
            border-radius: 4px;
        }

            .cart-page .cart-summary .cart-btn button:hover {
                color:#FF6F61;
                background: #000000;
            }

            .cart-page .cart-summary .cart-btn button:first-child {
                margin-right: 25px;
                
                background: #ffffff;
                border: 1px solid #FEA116;
            }

                .cart-page .cart-summary .cart-btn button:first-child:hover {
                    color: #ffffff;
                    background: #FEA116;
                } 
               


.body1 {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
}

.box1{
    box-sizing: border-box;
}

.row1 {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
}

.col-26 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
}

.col-55 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
}

.col-76 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
}

.col-26,
.col-51,
.col-76 {
    padding: 0 16px;
}

.container1 {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

 input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.label1 {
    margin-bottom: 10px;
    display: block;
    margin-left:0px
}

.icon-container1 {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btn1 {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

    .btn:hover {
        background-color: #45a049;
    }



hr {
    border: 1px solid lightgrey;
}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */

.col-26 {
    margin-bottom: 20px;
}


.myModal-overlay {
    z-index: -1;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
}

.modal1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Blur background */
.modal-backdrop1 {
    filter: blur(4px);
}/*checkout*/

.checkout {
    position: relative;
    padding-top: 30px;
}

    .checkout .checkout-inner {
        margin-bottom: 30px;
        padding: 30px;
        background: #ffffff;
    }

    .checkout .billing-address,
    .checkout .shipping-address {
        position: relative;
        width: 100%;
    }

    .checkout .shipping-address {
        display: none;
        margin-top: 30px;
    }

        .checkout .billing-address h2,
        .checkout .shipping-address h2 {
            font-size: 25px;
            margin-bottom: 20px;
        }

    .checkout .checkout-summary,
    .checkout .checkout-payment {
        position: relative;
        width: 100%;
    }

        .checkout .checkout-summary h1,
        .checkout .checkout-payment h1 {
            font-size: 25px;
            margin-bottom: 20px;
        }

        .checkout .checkout-summary,
        .checkout .checkout-payment .payment-methods {
            padding: 30px;
            background: #f3f6ff;
            margin-bottom: 30px;
        }

            .checkout .checkout-summary p.sub-total,
            .checkout .checkout-summary p.ship-cost {
                padding-top: 15px;
                border-top: 1px solid #dddddd;
            }

            .checkout .checkout-summary p span,
            .checkout .checkout-summary h2 span {
                float: right;
            }

            .checkout .checkout-summary h2 {
                font-size: 20px;
                padding-top: 12px;
                border-top: 1px solid #dddddd;
                margin: 0;
            }

            .checkout .checkout-payment .payment-methods .payment-content {
                display: none;
            }

        .checkout .checkout-payment .checkout-btn button {
            width: 100%;
            height: 50px;
            padding: 2px 10px;
            font-family: 'Source Code Pro', monospace;
            font-weight: 700;
            font-size: 25px;
            text-align: center;
            color: #000000;
            background:  #FEA116;
            ;
            border: none;
            border-radius: 4px;
            transition: all .3s;
        }

            .checkout .checkout-payment .checkout-btn button:hover {
                color: #FEA116;
                background: #000000;
            }


.order1{
    margin-top:30px;
    font-size:27px;
}
.thank1 {
    color: #FEA116;
}

.product-item {
    position: relative;
}

    .product-item .product-title {
        padding: 15px;
        text-align: center;
        background: #000000;
        transition: all .3s;
    }

    .product-item:hover .product-title {
        background: #FF6F61;
    }

    .product-item .product-title a,
    .product-item .product-title .ratting {
        position: relative;
        width: 100%;
    }

    .product-item .product-title a {
        margin-bottom: 5px;
        color: #ffffff;
        font-size: 18px;
    }

    .product-item .product-title .ratting i {
        font-size: 14px;
        color: #FF6F61;
    }

    .product-item .product-content .price span {
        margin-left: 12px;
        text-decoration: line-through;
        font-weight: 700;
        color: #999999;
    }

    .product-item:hover .product-title a,
    .product-item:hover .product-title .ratting i {
        color: #ffffff;
    }

    .product-item:hover .product-content .price span {
        color: #dddddd;
    }

    .product-item .product-image {
        position: relative;
        overflow: hidden;
    }

        .product-item .product-image a {
            display: block;
            background: #ffffff;
            transition: .3s;
        }

        .product-item .product-image img {
            width: 100%;
            transition: all .3s;
        }

    .product-item:hover .product-image img {
        transform: scale(1.2);
    }

    .product-item .product-image .product-action {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 111, 97, .5);
        transition: all .3s;
        font-size: 0;
        z-index: 1;
        opacity: 0;
    }

    .product-item:hover .product-image .product-action {
        opacity: 1;
    }

    .product-item .product-image .product-action a {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-right: 5px;
        padding: 7px 0 10px 0;
        font-size: 16px;
        text-align: center;
        color: #ffffff;
        background: #FF6F61;
        border: 1px solid #ffffff;
        border-radius: 4px;
        transition: all .3s;
        margin-top: 50px;
    }

    .product-item:hover .product-image .product-action a {
        margin-top: 0;
    }

    .product-item .product-image .product-action a:last-child {
        margin-right: 0;
    }

    .product-item .product-image .product-action a:hover {
        color: #FF6F61;
        background: #ffffff;
        border: 1px solid #FF6F61;
    }

    .product-item .product-price {
        r padding: 20px;
        background: #000000;
        transition: all .3s;
    }

    .product-item:hover .product-price {
        background: black;
    }

    .product-item .product-price h3 {
        display: inline-block;
        color: #ffffff;
        margin: 0;
    }

        .product-item .product-price h3 span {
            font-size: 16px;
        }

    .product-item .product-price .btn {
        float: right;
        border: none;
        color: #000000;
        background: #FF6F61;
    }

        .product-item:hover .product-price .btn,
        .product-item .product-price .btn:hover {
            color: #FF6F61;
            background: #ffffff;
        }

        .product-item .product-price .btn i {
            margin-right: 5px;
        }