<!--main content start-->
@using fyp_hunger_nd_spice_.Models
@{ Model db = new Model();
    // Retrieve real-time sales data from the server
    var salesData = db.Orderdetails.Where(x => x.Order.Order_type == "Sale")
                                   .Select(x => x.price * x.Quantity)
                                   .ToList();
    var dataString = string.Join(",", salesData);


    var profitloss = db.Orderdetails.Where(x => x.Order.Order_type == "Sale")
        .Sum(x => x.price* x.Quantity) - db.Orderdetails.Where(x => x.Order.Order_type == "Sale")
        .Sum(x => x.cost * x.Quantity) ;
    var totalorders = db.Orderdetails.Where(x => x.Order.Order_type == "Sale")
                                   .Select(x => x.cost * x.Quantity)
                                   .ToList();
    var dataStrings = string.Join(",", totalorders);
    }
<div class="col-lg-12 main-chart">
    <!--CUSTOM CHART START -->
    <div class="border-head">
        <h3>USER VISITS</h3>
    </div>
    <div class="custom-bar-chart">
        <ul class="y-axis">
            <li><span>10.000</span></li>
            <li><span>8.000</span></li>
            <li><span>6.000</span></li>
            <li><span>4.000</span></li>
            <li><span>2.000</span></li>
            <li><span>0</span></li>
        </ul>
        <div class="bar">
            <div class="title">JAN</div>
            <div class="value tooltips" data-original-title="8.500" data-toggle="tooltip" data-placement="top">85%</div>
        </div>
        <div class="bar ">
            <div class="title">FEB</div>
            <div class="value tooltips" data-original-title="5.000" data-toggle="tooltip" data-placement="top">50%</div>
        </div>
        <div class="bar ">
            <div class="title">MAR</div>
            <div class="value tooltips" data-original-title="6.000" data-toggle="tooltip" data-placement="top">60%</div>
        </div>
        <div class="bar ">
            <div class="title">APR</div>
            <div class="value tooltips" data-original-title="4.500" data-toggle="tooltip" data-placement="top">45%</div>
        </div>
        <div class="bar">
            <div class="title">MAY</div>
            <div class="value tooltips" data-original-title="3.200" data-toggle="tooltip" data-placement="top">32%</div>
        </div>
        <div class="bar ">
            <div class="title">JUN</div>
            <div class="value tooltips" data-original-title="6.200" data-toggle="tooltip" data-placement="top">62%</div>
        </div>
        <div class="bar">
            <div class="title">JUL</div>
            <div class="value tooltips" data-original-title="7.500" data-toggle="tooltip" data-placement="top">75%</div>
        </div>
    </div>
    <!--custom chart end-->
    <div class="row mt">
        <!-- SERVER STATUS PANELS -->
        <!-- /col-md-4 -->
        <div class="col-md-4 col-sm-4 mb">
            <!-- REVENUE PANEL -->
            <div class="green-panel pn">
                <div class="green-header">
                    <h5>REVENUE</h5>
                </div>
                <div class="chart mt">
                    <div class="sparkline"
                         data-type="line" data-resize="true" data-height="75"
                         data-width="90%" data-line-width="1" data-line-color="#fff"
                         data-spot-color="#fff" data-fill-color=""
                         data-highlight-line-color="#fff"
                         data-spot-radius="4"
                         data-data="[@dataString]"></div>
                </div>
                <p class="mt"><b>Rs:@salesData.Sum()</b><br />Month Income</p>
            </div>
        </div> <div class="col-md-4 col-sm-4 mb">
            <!-- REVENUE PANEL -->
            <div class="green-panel pn">
                <div class="green-header">
                    <h5>REVENUE</h5>
                </div>
                <div class="chart mt">
                    <div class="sparkline"
                         data-type="line" data-resize="true" data-height="75"
                         data-width="90%" data-line-width="1" data-line-color="#fff"
                         data-spot-color="#fff" data-fill-color=""
                         data-highlight-line-color="#fff"
                         data-spot-radius="4"
                         data-data="[@dataStrings]"></div>
                </div>
                <p class="mt"><b>Rs:@totalorders.Sum()</b><br />Month Income</p>
            </div>
        </div> 
       <div class="col-md-4 col-sm-4 mb">
            <!-- REVENUE PANEL -->
            <div class="green-panel pn">
                <div class="green-header">
                    <h5>Total Profit</h5>
                </div>
                <div class="chart mt">
                    <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[200,135,667,333,526,996,564,123,890,464,655]"></div>
                </div>
                <p class="mt"><b>@profitloss</b><br />Profit and Loss</p>
            </div>
        </div>
