@{
    Layout = "~/Views/Shared/_layoutcustomer.cshtml";
}

<html>
<head>
    <!-- CSS styles -->
    <style>
        /* Bordered form */
        form {
            border: 3px solid #f1f1f1;
        }

        /* Full-width inputs */
        input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        /* Set a style for all buttons */
        button {
            background-color: #FEA116;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        /* Add a hover effect for buttons */
        button:hover {
            opacity: 0.8;
        }

        /* Avatar image */
        img.avatar {
            width: 10%;
            border-radius: 70%;
        }

        /* Add padding to containers */
        .container {
            padding: 16px;
        }

        /* Change styles for span and cancel button on extra small screens */
       
            span.psw {
                display: block;
                float: none;
            }

            .cancelbtn {
                width: 100%;
            }
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("Resetpassword", "customers", FormMethod.Post))
    {
        <form>
            <div class="container">
                <div class="imgconta">
                    <img src="https://media.istockphoto.com/id/619400810/photo/mr-who.jpg?b=1&amp;s=170667a&amp;w=0&amp;k=20&amp;c=-gmePfcINJC_YpZE_b-6cq6go6MgS9OBhcXhKdmOFKI=" alt="Avatar" class="avatar" style="animation: none !important;">
                    <h2 class="center" style="color: #FEA116">Reset Password</h2>
                </div>

                <label for="NewPassword"><b>New Password</b></label>
                <input type="password" placeholder="Enter New Password" name="newPassword" required>

                <label for="ConfirmPassword"><b>Confirm Password</b></label>
                <input type="password" placeholder="Confirm New Password" name="confirmPassword" required>

                <input type="hidden" name="resetCode" value="@ViewBag.ResetCode" />

                <button type="submit">Reset Password</button>
                <div style="color: #FEA116">@ViewBag.Message</div>
            </div>
        </form>
    }
</body>
</html>
